.container{
    width: 400px;
}



input{
    margin-top: 10px;
}
.submitButtonEM{
    height: 30px;
    width: 100px;

    
}
label{
    
    padding: 2px;
    display: inline-block;
    
    width: 160px;
}
