<div *ngIf = "HistoryList">
    <label id = "bookingLabel"><h2>User Booking History</h2><hr></label>
    <div class="container">
        <form class="form-horizontal" #f="ngForm" (ngSubmit)="filter(f)">
        <div class="control-group">
        <!-- 
        {{f.value | json}} -->
        <div class="controls form-inline" id="sandbox-container">
        <label for="fromDate"><b>From Date</b></label>
        <input type="date" name="fromDate" ngModel placeholder="dd/mm/yyyy"> &nbsp; &nbsp; 
        <label for="toDate"><b>To Date</b></label>
        <input type="date" name="toDate" ngModel placeholder="dd/mm/yyyy">
        <label class="control-label"></label>
        &nbsp;&nbsp;<button class="btn btn-danger" type="reset">Reset</button>&nbsp;&nbsp;
        <button class="btn btn-success" type="submit">Submit</button>
        </div>
        </div>
        </form>
        </div> 
<br>
    <table>
        <tr>
            <th>ID</th>
            <th>Customer Name</th>
            <th>Booked Date</th>
            <th>Location</th>
            <th>Price</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Booked Status</th>
        <tr>
        <tr *ngFor="let h of HistoryList">
            <td>{{h.bookId}}</td>
            <td>{{h.user}}</td>
            <td>{{h.bookedDate}}</td>
            <td>{{h.location}}</td>
            <td>{{h.price}}</td>
            <td>{{h.startDate}}</td>
            <td>{{h.endDate}}</td>
            <td>{{h.bookedstatus}}</td>
        </tr>
    </table>
</div>